body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    min-height: 300vh;
    background:linear-gradient(135deg, #f76b1c 0%,#4d0316 100%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#menuHambuguer{
    position: absolute;
    top: 20px;
    filter: brightness(0) invert(1);
    height: 20px;
    width: 40px;
    right: 10px;
    z-index: 9999999;
    display: none;
}
#menuHambuguer:hover{cursor: pointer}
#menuHambuguer img{width: 100%}

#navigation{
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    padding: 15px 5px;
    max-width: 100%;
    background-color: transparent;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}
#navigation.fixed{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 60px 0px rgba(117, 117, 117, 0.52);
    transition: all 0.3s ease-in-out;
    padding: 5px 5px;
}
#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    line-height: 1;
    padding: 0;
    margin: 0;
    max-width: 1080px;
    margin: 0 auto;
}

#menu li a{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    line-height: 1;
}
#menu li a:hover{
     color: #fafafa;
     text-decoration: none;
}

#menu .cta{
    background-color: green;
    padding: 15px 40px;
}

@media (max-width: 980px){
    #navigation{
        display: none;
        height: 100vh;
        top: 0;
        border-radius: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #2b1947;
        box-shadow: 0;
    }
    #menuHambuguer{display: block}
    #menu{
        display: block;  
        margin-top: 40px;
    }
    #menu li{
        width: 100%;
        height: 3em;
    }
    #menu li a{color: white}
}